*{
    margin: 0 5px;
    padding: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.65) url(/assets/pexels-maxyne-barcel-10402282\ 1.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:top ;
    font-family: 'Merriweather Sans', sans-serif;
}

nav{
    padding: 5px 0.2%;
    height: 15vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    font-weight: 500;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #ffc233;
    cursor: pointer;
    background: none;
}

button{
    background: #ff515f;
    padding: 0.8rem 1.9rem;
    cursor: pointer;
    color: white;
    font-weight: 800;
    width: fit-content;
    border: none;
}

.intro h1{
    font-size: 65px;
    margin-bottom: 20px;
    font-weight: 1000;
    color: #ffc233;
    text-align: center;
    margin-top: 100px;
    }

.Read-Our-Menu-btns{
    text-align: center;
}

.scroll-button{
    text-align: right;
}